@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Georgia', serif;
}

.contenedor {
  text-align: center;
}

.titulo {
  font-size: 64px;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.1);

  /* Animación */
  opacity: 0;
  transform: translateY(-30px);
  animation: aparecer 2s ease-out forwards;
}

.subtitulo {
  font-size: 20px;
  color: #cccccc;
  margin-top: 10px;
  font-style: italic;
  opacity: 0;
  animation: aparecer 2s ease-out 1s forwards;
}

/* Definición de la animación */
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
